:root {
  --alg-green: #006633;
}

.title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.person-row {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 16px;
  margin-top: 8px;
}

.counter-btn {
  color: var(--alg-green) !important;
  border: 1px solid var(--alg-green);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.counter {
  font-size: 1.1rem;
  font-weight: 600;
  width: 20px;
  text-align: center;
}

.service-card {
  border: 2px solid var(--alg-green);
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-card:hover {
  background-color: rgba(0, 102, 51, 0.06);
}

.service-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.service-name {
  font-size: 1.05rem;
  font-weight: 600;
}

.service-desc {
  font-size: 0.85rem;
  color: #444;
}

.service-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.info-box {
  margin-top: 18px;
  margin-bottom: 20px;
}

.assigned-status {
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 0.95rem;
}

.confirm-btn {
  width: 100%;
  margin-top: 10px;
}

:root {
  --alg-green: #006633;
}

.appointment-layout {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.calendar-container {
  width: 260px;
}

.slots-container {
  flex: 1;
}

.slot-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 14px;
}

.slot-card {
  border: 2px solid var(--alg-green);
  border-radius: 40px;
  padding: 14px 22px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.slot-card:hover {
  background-color: rgba(0, 102, 51, 0.1);
}

.slot-selected {
  background-color: var(--alg-green);
  color: white !important;
}

.slot-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.slot-time {
  font-size: 1.2rem;
  font-weight: 600;
}

.slot-capacity {
  font-size: 0.85rem;
}

.slot-right {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}

.counter-btn {
  color: white !important;
  border: 2px solid white;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.counter {
  font-size: 1.1rem;
  font-weight: 600;
}

.confirm-btn {
  background-color: var(--alg-green) !important;
  margin-top: 25px;
  padding: 10px 20px;
}
