@inherits LayoutComponentBase
@using MudBlazor
@using ConsulatTermine.UI.Theme

<MudThemeProvider Theme="AlgeriaTheme.DefaultTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="4" Color="Color.Primary" Style="height: 120px; padding-top: 16px; margin-bottom: 50px;">
        <div class="d-flex justify-center align-center" style="width:100%; padding: 40px 0;">
            <MudImage Src="images/Alg_Logo.png" Alt="Consulat Algerien Logo"
                      Style="height:90px; margin:12px;" />
            <MudText Typo="Typo.h3" Class="mud-text-white">Consulat Général Algérien à Francfort</MudText>
        </div>
    </MudAppBar>

    <MudMainContent Class="pa-0" Style="margin-top: 120px;">
        @Body
    </MudMainContent>

</MudLayout>
